.job-head {
  display: flex;
  align-items: center;
  justify-content: spaace-around;
}
.company-logo {
  height: 70px;
  width: 70px;
  margin-right: 5px;
}
.job-card {
  background-color: #475569;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 800px;
}
.title {
  font-size: 15px;
}
.rating-con {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.star {
  color: #fbbf24;
}
.package-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.location-con {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.location {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.link-con {
  text-decoration: none;
  color: #ffffff;
}
